{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
		<li>
			<a id="dLabel2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-user"></i> {% user_display request.user %}<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dLabel2">
				<li><a class="menu-link" href="{% url "profiles:index" request.user.username %}">{% trans "My Profile" %}</a></li>
				<li><a class="menu-link" href="{% url "profiles:all" %}">{% trans "All Users" %}</a></li>
			</ul>
        </li>

        <li>
			<a id="dLabel" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i> {% trans "Forum" %}<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li><a class="menu-link" href="{% url "spirit:user:detail" pk=user.pk slug=user.st.slug %}">{% trans "Profile" %}</a></li>
				<li><a class="menu-link" href="{% url "spirit:topic:index-active" %}">{% trans "Topics" %}</a></li>
				<li><a class="menu-link" href="{% url "spirit:topic:unread:index" %}">{% trans "Unread topics" %}</a></li>
				<li><a class="menu-link" href="{% url "spirit:topic:private:index" %}">{% trans "Private topics" %}</a></li>

				{% if user.st.is_administrator %}
					<li><a class="menu-link" href="{% url "spirit:admin:index" %}">{% trans "Admin" %}</a></li>
				{% endif %}
			</ul>
        </li>
        <li>
            <a href="{% url 'polls:index' %}"><i class="fa fa-hourglass"></i> {% trans "Polls" %}</a>
        </li>
        <li>
            <a href="{% url 'readings:index' %}"><i class="fa fa-book"></i> {% trans "Readings" %}</a>
        </li>
        <li>
            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
