{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Phantastes{% endblock %}

{% block extra_head %}
<style>
	 body {
		background-image: url("/site_media/static/img/castle.png");
		background-repeat: no-repeat;
	 }
</style>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron" style="background-color:rgba(255, 255, 255, 0)">
        <div class="container">
			<div class="col-md-8">
				{% include "_messages.html" %}
				<h1>{% blocktrans %}Welcome to<br>Phantastes{% endblocktrans %}</h1>
				<p>
					{% blocktrans %}
					This is an experiment we're doing in communal reading, named after one of the best books ever. Check out the email that started it all <a href="/about/">here</a>.
					{% endblocktrans %}
				</p>
				{% if not user.is_authenticated %}
				{% url "account_login" as login_url %}
				{% url "account_signup" as signup_url %}
				<p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
				{% endif %}
			</div>
      {% if book %}
			<div class="col-md-4">
				<div class="panel panel-default"> <div class="panel-heading">
						<h3 class="panel-title">Today's Reading</h3>
					</div>
					<div class="panel-body">
						<b>Book: </b>{{ book.title }}
						<br/>
						<b>Author: </b>{{ book.author }}
						<br/>
						<b>Reading: </b>{{ day.reading }}
						<br/>
						<b>Description: </b>{{ day.description }}
					</div>
				</div>
			</div>
      {% endif %}
        </div>
    </section>
    <section style="background-color:rgba(242, 242, 242, 0.48)">
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Phantastes?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Phantastes</b> is a place where you can participate in the great discussion of
				history by reading great books with like-minded (and hopefully un-like-minded) people.
				Check out our schedule and join the discussion!
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
				<div class="col-md-2"></div>
				<div class="col-md-8">
				</div>
				<div class="col-md-2"></div>
			<!--
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Starter projects</b> provide project layout,
                    scaffolding, already integrated components and
                    ready-to-go code.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Reusable apps</b> provide common
                    infrastructure, back-end functionality,
                    and user-facing components.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Themes</b> provide default templates and
                    stylesheets for quick prototyping and easy customization.
                    {% endblocktrans %}
                </div>
            </div>
			-->
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
            </p>
        </div>
    </section>
{% endblock %}
