{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Phantastes{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
	<h3>{{ reading.title }}</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<td><h4><b>Date</b></h4></td>
				<td><h4><b>Reading</b></h4></td>
			</tr>
		</thead>
		<tbody>
			{% for day in days %}
			<tr>
				<td>{{ day.date }}</td>
				<td>{{ day.reading }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
