{% extends "email_base.html" %}
{% load i18n %}

{% block content %}

	{% block email_title %}Voting Open{% endblock %}

	{% block greeting %}
	Hey {{ name }}, 
	{% endblock %}

	{% block p1 %}
	Voting is closing tomorrow for {{ poll_title }}! Take a minute to make sure you cast your vote for next month's reading!
	{% endblock %}

{% block opt_link %}
	<table>
		<tr>
			<td align="center">
				<p>
					<a target="_blank" href="http://{{ site_base }}{% url 'polls:voting' poll_id %}" class="button" style="-webkit-appearance:button;-moz-appearance:button;appearance:button;text-decoration:none;background-color:#ff6600;color:white;border-radius:9px;padding:15px;"><b>Vote</b></a>
				</p>
			</td>
		</tr>
	</table>
{% endblock %}

	<p><i>~Anodos</i></p>

{% endblock %}
