{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Phantastes{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">

<h3>{{ poll.title }}</h3>
<hr/>
{% if disabled != '' %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="bg-warning col-md-6">
	<b>You've put in 3 votes on this poll. You don't have any more votes left!</b>
	<br/>
	</div>
</div>
<br/>&nbsp;
{% endif %}
You have three votes availble to you, you can spend those votes however you like. All three on one book, 2 on one book and 1 on another, or 1 on three different books.
<br/>&nbsp;<br/>


<div class="col-md-5 center">
	<div class="panel panel-default"> 
		<div class="panel-heading">
			<h3 class="panel-title">Nominated Books</h3>
		</div>
		<div class="panel-body">
		<form method="post" id="voting_form" action="">
		{% csrf_token %}
		{% for book in books %}
			<div class="form-group">
				<label for="book{{ book.id }}" class="control-label">
					<b>Book: </b>{{ book.title }}<br/>
					<b>Author: </b>{{ book.author }}
				</label>
				<div class="col-sm-4">
					<input type="number" max="3" min="0" class="form-control book_input" name="{{ book.id }}" {{ disabled }} value="0"/>
				</div>

			</div>

		{% endfor %}
		<input class="btn btn-default" type="submit" value="Submit" {{ disabled }}>
		</form>
		</div>
	</div>
</div>

<div class="bg-danger col-md-2">
	<span id="warning">{{ error }}</span>
</div>

</div>
{% endblock %}

{% block extra_body %}
<script>

$(".book_input").change(function(){
	var sum = 0;
	$("form#voting_form :input").each(function(){
		sum = sum + Number($(this).val());
		if (sum > 3) {
			$("form#voting_form :input[type='number']").val("");
			$("#warning").html("Hey! Only three!");
			return false;
		}
	});
	var sum = 0;
});

</script>
{% endblock %}

